<div class="users">
	<div class="table-heading">
		<span>Users table</span>
		<button (click)="addUser();">Add User</button>
	</div>
	<table>
		<thead>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email</th>
			<th>Phone</th>
			<th>Address</th>
			<th>City</th>
			<th>State</th>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td>{{user.first_name}}</td>
				<td>{{user.last_name}}</td>
				<td>{{user.email}}</td>
				<td>{{user.phone}}</td>
				<td>{{user.address}}</td>
				<td>{{user.city}}</td>
				<td>{{user.state}}</td>
				<td (click)="userRemove(user.id);">
					<!-- <div class="icon">
						<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						 viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
							<circle style="fill:#E21B1B;" cx="255.999" cy="255.999" r="255.999" />
							<g>
								<rect x="244.002" y="120.008" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -106.0397 256.0022)" style="fill:#FFFFFF;" width="24"
								 height="271.988" />

								<rect x="120.008" y="244.007" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -106.0428 256.0035)" style="fill:#FFFFFF;" width="271.988"
								 height="24" />
							</g>
						</svg>
					</div> -->
					<span>d</span>
				</td>
				<td (click)="EditPopupActive = true; editUserId = user.id" >
					<span>E</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="popup" [ngClass]="{'active': popupActive == true}">
	<form class="form" [formGroup]="addUserForm">
		<div class="input-group">
			<label>First Name</label>
			<div class="input">
				<input type="text" formControlName="first_name" />
				<control-messages [control]="addUserForm.controls.first_name" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>Last Name</label>
			<div class="input">
				<input type="text" formControlName="last_name" />
				<control-messages [control]="addUserForm.controls.last_name" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>Email</label>
			<div class="input">
				<input type="text" formControlName="email" />
				<control-messages [control]="addUserForm.controls.email" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>Phone</label>
			<div class="input">
				<input type="text" formControlName="phone" />
				<control-messages [control]="addUserForm.controls.phone" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>Address</label>
			<div class="input">
				<input type="text" formControlName="address" />
				<control-messages [control]="addUserForm.controls.address" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>City</label>
			<div class="input">
				<input type="text" formControlName="city" />
				<control-messages [control]="addUserForm.controls.city" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>State</label>
			<div class="input">
				<input type="text" formControlName="state" />
				<control-messages [control]="addUserForm.controls.state" class="controlMessage"></control-messages>
			</div>
		</div>
	</form>
	<div class="submit">
		<button class="btn" (click)="userInsert()">add user</button>
	</div>
</div>
<div class="popup" [ngClass]="{'active': EditPopupActive == true}">
	<form class="form" [formGroup]="editUserForm">
		<div class="input-group">
			<label>First Name</label>
			<div class="input">
				<input type="text" formControlName="first_name" />
				<control-messages [control]="addUserForm.controls.first_name" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>Last Name</label>
			<div class="input">
				<input type="text" formControlName="last_name" />
				<control-messages [control]="addUserForm.controls.last_name" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>Email</label>
			<div class="input">
				<input type="text" formControlName="email" />
				<control-messages [control]="addUserForm.controls.email" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>Phone</label>
			<div class="input">
				<input type="text" formControlName="phone" />
				<control-messages [control]="addUserForm.controls.phone" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>Address</label>
			<div class="input">
				<input type="text" formControlName="address" />
				<control-messages [control]="addUserForm.controls.address" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>City</label>
			<div class="input">
				<input type="text" formControlName="city" />
				<control-messages [control]="addUserForm.controls.city" class="controlMessage"></control-messages>
			</div>
		</div>
		<div class="input-group">
			<label>State</label>
			<div class="input">
				<input type="text" formControlName="state" />
				<control-messages [control]="addUserForm.controls.state" class="controlMessage"></control-messages>
			</div>
		</div>
	</form>
	<div class="submit">
		<button class="btn" (click)="userEdit(editUserId);">update user</button>
	</div>
</div>